/* Add here all your css styles (customizations) */
a.cate-link{
    color: #fff;
}
.content-md {
    padding-top: 20px !important;
    padding-bottom: 20px;
}
.parallax-team {
    background: url(../img/search-bg-3.jpg) 50% 0 repeat fixed !important;
}
.ct{
        float: none;
}
a.cate-link-not{
    color: #A7A7A7;
}
a.subCate {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
.btn-u.btn-brd.btn-orange {
    border-color: #FF8300;
}
.btn-u.btn-brd.btn-orange:hover {
    color: #FF8300;
    border-color: #FF8300;
}
.btn-u.btn-brd.btn-brown {
    border-color: #9C8061;
}
.btn-u.btn-brd.btn-brown:hover {
    color: #9C8061;
    border-color: #9C8061;
}
a.btn-u.btn-brd.btn-u.btn-u-lg.subCate.active {
    background-color: #74C52C;
    color: #fff;
}
a.sgProduct:hover{
    text-decoration: none;
    color: #72C02C;
}
.blog-thumb .blog-thumb-hover:hover:after {
       background: rgba(114,192,44,0.0);
}
.coverProfile {
    background-color: rgba(116, 197, 44, 0.9);
    padding: 8px;
    color: #FFF;
    border-radius: 5px;
}
.coverDetail {
    margin-top: 10px;
}
.coverLocation{
    color: #fff;
}
.profile .profile-edit {
    padding: 20px;
    background: #FDFDFD;
}
.btn-full{
    width: 100%;
}
ul.nav.nav-justified.nav-tabs a{
    font-size: 20px;
}
.star{
    font-size: 30px;
}
.compair{
    width: 17px;
    height: 17px;
}
.sky-form .rating label {
    display: block;
    float: right;
    height: 40px;
    margin-top: 5px;
    padding: 0 2px;
    font-size: 40px;
    line-height: 30px;
}
.sky-form .rating {
    margin-bottom: 4px;
    font-size: 25px;
    line-height: 27px;
    color: #404040;
}
.testimonials-v6 .testimonials-desc p {
    margin-bottom: 0px;
}
.resultRate{
    color: #000;
}
.result{
    font-size: 30px;
}
.header-v8 .navbar-nav .notic > a, .header-v8 .navbar-nav > li > a:hover, .header-v8 .navbar-nav > li > a:focus, .header-v8 .navbar-nav > .active > a, .header-v8 .navbar-nav > .active > a:hover, .header-v8 .navbar-nav > .active > a:focus {
    color: #F00;
}
.padding-top-0{
    padding-top: 0px;
}
a.farmProfile {
    background-color: #FF0000;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.testimonials-v6 .testimonials-info {
    padding: 5px;
    /* background: #fff; */
    /* border-bottom: solid 3px #eee; */
    transition: all 0.4s ease-in-out;
}
.rounded-bottom {
    /* border-radius: 0 0 4px 4px !important; */
}
.bg-color-light {
    /* background-color: #f7f7f7 !important; */
}
.tag-box {
    padding: 5px;
    background: #fff;
    margin-bottom: 30px;
}
.fillterBar{
    
}
.sky-form .radio, .sky-form .checkbox {
    color: #555A5F;
}
label.select.sort {
    margin: 0px;
}
td.chatProfile {
    
}
td.chatProfile img {
    max-width: 50px;
}
.chatProfile {
    max-width: 50px;
}
.chatName{
    overflow: hidden;
    white-space: nowrap;
}
.chatList tr { cursor: pointer; cursor: hand; }
a.linkFull {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
}
label.checkbox-inline.compareCheck {
    z-index: 999;
}


/*CHAT*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/*CHAT*/
